<!DOCTYPE html>
<html lang="en" ng-app='quizApp'>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset='UTF-8'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
    <script type='text/javascript' src='quiz.js'></script>
    <title>Quiz</title>
</head>
<body>
    <div ng-controller='QuizController as Quiz'>
        <h3>Section x of x (x% done)</h3>
        <h3>Current average: {{ Quiz.getAverage() }}%</h3>
        <h3>{{ Quiz.getCurrentQuestion() }}</h3>
        <form>
            <input type="text" name="answer"></input>
            <input type="submit" name="submit"></input>
        </form>
    </div>
    </body>
</html>
