<!DOCTYPE html>
<html lang="en" ng-app='quizApp'>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset='UTF-8'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
    <script type='text/javascript' src='quiz.js'></script>
    <title>Quiz</title>
</head>
<body>
    <div ng-controller='QuizController as Quiz'>
        <div id='stats'>
                <h3>Section {{ Quiz.section }} of {{ Quiz.questions.length }} ({{Quiz.section / Quiz.questions.length }}% done)</h3>
                <h3>Current average: {{ Quiz.getAverage() }}%</h3>
        </div>
        <div id='question' ng-show='Quiz.isAsking'>
                <h3>{{ Quiz.getCurrentQuestion() }}</h3>
                <form>
                    <input type="text" id="answer"></input>
                    <input type="button" value="submit" ng-click="Quiz.checkAnswer()"></input>
                </form>
        </div>
        <div ng-show='Quiz.isChecking'>
            <h3>Answer was:      {{ Quiz.getCurrentAnswer() }}</h3>
            <h3>Your answer was: {{ Quiz.getUserAnswer() }}</h3> 
            <h3>Is this correct?</h3>
            <form>
                <input type='button' value='Yes' ng-click='Quiz.answerWas(true)'></input>
                <input type='button' value='No' ng-click='Quiz.answerWas(false)'></input>
            </form>
        </div>
    </div>
</body>
</html>
